# Goal
This ipynb file is supposed to have deep analysis of district wise crimes commited in order to predict the crime hotspots of India in the future and also its dependency on socioeconomic factors.

### Problem Statement
Prediction of crime, prognosis and patrol route map forecasting:


Predict crime hotspots by analysing historical crime data, socio-economic factors, and
environmental variables. Also generate dynamic patrol routes by considering predicted crime
hotspots, traffic conditons, and priority areas.

#### Data Loading and Joining
I will try to join datasets for easier analysis

In [4]:
import pandas as pd

I need to analyse weather the district_wise_crimes_committed is aggregrate of crimes against SC, ST and children so we will import these 4 datasets for 2001_2012 and see if it is . Otherwise we will assume that the first one is crime against general and OBC population

In [6]:
dis_w_cr_co_1_12 = pd.read_csv("AggregrateData/01_District_wise_crimes_committed_IPC_2001_2012.csv")
dis_w_cr_co_1_12_SC = pd.read_csv("AggregrateData/02_01_District_wise_crimes_committed_against_SC_2001_2012.csv")
dis_w_cr_co_1_12_ST = pd.read_csv("AggregrateData/02_District_wise_crimes_committed_against_ST_2001_2012.csv")
dis_w_cr_co_1_12_children = pd.read_csv("AggregrateData/03_District_wise_crimes_committed_against_children_2001_2012.csv")

In [9]:
dis_w_cr_co_1_12.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507

In [10]:
dis_w_cr_co_1_12_SC.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7

In [11]:
dis_w_cr_co_1_12_ST.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14

In [12]:
dis_w_cr_co_1_12_children.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

I will take the murder count of year 2001 district Adilabad and state Andhra Pradesh to come to my conclusion for the abpve problem

In [18]:
if(dis_w_cr_co_1_12.at[0,"MURDER"] == dis_w_cr_co_1_12_SC.at[0,"Murder"] + dis_w_cr_co_1_12_ST.at[0,"Murder"] + dis_w_cr_co_1_12_children.at[0,"Murder"]):
    print("It is aggregrate of 3")
else:
    print("It is count of crimes against general population")

It is count of crimes against general population

Now we will see the info of each of these datasets and also their features because we need to aggregrate these datasets

In [20]:
dis_w_cr_co_1_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9017 entries, 0 to 9016
Data columns (total 33 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             9017 non-null   object
 1   DISTRICT                                             9017 non-null   object
 2   YEAR                                                 9017 non-null   int64
 3   MURDER                                               9017 non-null   int64
 4   ATTEMPT TO MURDER                                    9017 non-null   int64
 5   CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            9017 non-null   int64
 6   RAPE                                                 9017 non-null   int64
 7   CUSTODIAL RAPE                                       9017 non-null   int64
 8   OTHER RAPE                                           9017 non-null   int64
 9   KIDNAPPING & ABDUCTION                               9017 non-null   int64
 10  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          9017 non-null   int64
 11  KIDNAPPING AND ABDUCTION OF OTHERS                   9017 non-null   int64
 12  DACOITY                                              9017 non-null   int64
 13  PREPARATION AND ASSEMBLY FOR DACOITY                 9017 non-null   int64
 14  ROBBERY                                              9017 non-null   int64
 15  BURGLARY                                             9017 non-null   int64
 16  THEFT                                                9017 non-null   int64
 17  AUTO THEFT                                           9017 non-null   int64
 18  OTHER THEFT                                          9017 non-null   int64
 19  RIOTS                                                9017 non-null   int64
 20  CRIMINAL BREACH OF TRUST                             9017 non-null   int64
 21  CHEATING                                             9017 non-null   int64
 22  COUNTERFIETING                                       9017 non-null   int64
 23  ARSON                                                9017 non-null   int64
 24  HURT/GREVIOUS HURT                                   9017 non-null   int64
 25  DOWRY DEATHS                                         9017 non-null   int64
 26  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  9017 non-null   int64
 27  INSULT TO MODESTY OF WOMEN                           9017 non-null   int64
 28  CRUELTY BY HUSBAND OR HIS RELATIVES                  9017 non-null   int64
 29  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          9017 non-null   int64
 30  CAUSING DEATH BY NEGLIGENCE                          9017 non-null   int64
 31  OTHER IPC CRIMES                                     9017 non-null   int64
 32  TOTAL IPC CRIMES                                     9017 non-null   int64
dtypes: int64(31), object(2)
memory usage: 2.3+ MB

In [21]:
dis_w_cr_co_1_12_children.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9015 entries, 0 to 9014
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   STATE/UT                           9015 non-null   object
 1   DISTRICT                           9015 non-null   object
 2   Year                               9015 non-null   int64
 3   Murder                             9004 non-null   float64
 4   Rape                               9004 non-null   float64
 5   Kidnapping and Abduction           9004 non-null   float64
 6   Foeticide                          9004 non-null   float64
 7   Abetment of suicide                9004 non-null   float64
 8   Exposure and abandonment           9004 non-null   float64
 9   Procuration of minor girls         9004 non-null   float64
 10  Buying of girls for prostitution   9004 non-null   float64
 11  Selling of girls for prostitution  9004 non-null   float64
 12  Prohibition of child marriage act  9004 non-null   float64
 13  Other Crimes                       9004 non-null   float64
 14  Total                              9015 non-null   int64
dtypes: float64(11), int64(2), object(2)
memory usage: 1.0+ MB

In [22]:
dis_w_cr_co_1_12_SC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9018 entries, 0 to 9017
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   STATE/UT                              9018 non-null   object
 1   DISTRICT                              9018 non-null   object
 2   Year                                  9018 non-null   int64
 3   Murder                                9018 non-null   int64
 4   Rape                                  9018 non-null   int64
 5   Kidnapping and Abduction              9018 non-null   int64
 6   Dacoity                               9018 non-null   int64
 7   Robbery                               9018 non-null   int64
 8   Arson                                 9018 non-null   int64
 9   Hurt                                  9018 non-null   int64
 10  Prevention of atrocities (POA) Act    9018 non-null   int64
 11  Protection of Civil Rights (PCR) Act  9018 non-null   int64
 12  Other Crimes Against SCs              9018 non-null   int64
dtypes: int64(11), object(2)
memory usage: 916.0+ KB

In [23]:
dis_w_cr_co_1_12_ST.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9018 entries, 0 to 9017
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   STATE/UT                              9018 non-null   object
 1   DISTRICT                              9018 non-null   object
 2   Year                                  9018 non-null   int64
 3   Murder                                9018 non-null   int64
 4   Rape                                  9018 non-null   int64
 5   Kidnapping Abduction                  9018 non-null   int64
 6   Dacoity                               9018 non-null   int64
 7   Robbery                               9018 non-null   int64
 8   Arson                                 9018 non-null   int64
 9   Hurt                                  9018 non-null   int64
 10  Protection of Civil Rights (PCR) Act  9018 non-null   int64
 11  Prevention of atrocities (POA) Act    9018 non-null   int64
 12  Other Crimes Against STs              9018 non-null   int64
dtypes: int64(11), object(2)
memory usage: 916.0+ KB

Since the datasets have different number of columns we will start by aggregrating based on year

In [24]:
dis_w_cr_co_13 = pd.read_csv("AggregrateData/01_District_wise_crimes_committed_IPC_2013.csv")
dis_w_cr_co_14 = pd.read_csv("AggregrateData/01_District_wise_crimes_committed_IPC_2014.csv")

In [25]:
dis_w_cr_co_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 33 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             823 non-null    object
 1   DISTRICT                                             823 non-null    object
 2   YEAR                                                 823 non-null    int64
 3   MURDER                                               823 non-null    int64
 4   ATTEMPT TO MURDER                                    823 non-null    int64
 5   CULPABLE HOMICIDE NOT AMOUNTING TO MURDER            823 non-null    int64
 6   RAPE                                                 823 non-null    int64
 7   CUSTODIAL RAPE                                       823 non-null    int64
 8   OTHER RAPE                                           823 non-null    int64
 9   KIDNAPPING & ABDUCTION                               823 non-null    int64
 10  KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS          823 non-null    int64
 11  KIDNAPPING AND ABDUCTION OF OTHERS                   823 non-null    int64
 12  DACOITY                                              823 non-null    int64
 13  PREPARATION AND ASSEMBLY FOR DACOITY                 823 non-null    int64
 14  ROBBERY                                              823 non-null    int64
 15  BURGLARY                                             823 non-null    int64
 16  THEFT                                                823 non-null    int64
 17  AUTO THEFT                                           823 non-null    int64
 18  OTHER THEFT                                          823 non-null    int64
 19  RIOTS                                                823 non-null    int64
 20  CRIMINAL BREACH OF TRUST                             823 non-null    int64
 21  CHEATING                                             823 non-null    int64
 22  COUNTERFIETING                                       823 non-null    int64
 23  ARSON                                                823 non-null    int64
 24  HURT/GREVIOUS HURT                                   823 non-null    int64
 25  DOWRY DEATHS                                         823 non-null    int64
 26  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  823 non-null    int64
 27  INSULT TO MODESTY OF WOMEN                           823 non-null    int64
 28  CRUELTY BY HUSBAND OR HIS RELATIVES                  823 non-null    int64
 29  IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES          823 non-null    int64
 30  CAUSING DEATH BY NEGLIGENCE                          823 non-null    int64
 31  OTHER IPC CRIMES                                     823 non-null    int64
 32  TOTAL IPC CRIMES                                     823 non-null    int64
dtypes: int64(31), object(2)
memory usage: 212.3+ KB

In [26]:
dis_w_cr_co_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 91 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   States/UTs                                                        838 non-null    object
 1   District                                                          838 non-null    object
 2   Year                                                              838 non-null    int64
 3   Murder                                                            838 non-null    int64
 4   Attempt to commit Murder                                          838 non-null    int64
 5   Culpable Homicide not amounting to Murder                         838 non-null    int64
 6   Attempt to commit Culpable Homicide                               838 non-null    int64
 7   Rape                                                              838 non-null    int64
 8   Custodial Rape                                                    838 non-null    int64
 9   Custodial_Gang Rape                                               838 non-null    int64
 10  Custodial_Other Rape                                              838 non-null    int64
 11  Rape other than Custodial                                         838 non-null    int64
 12  Rape_Gang Rape                                                    838 non-null    int64
 13  Rape_Others                                                       838 non-null    int64
 14  Attempt to commit Rape                                            838 non-null    int64
 15  Kidnapping & Abduction_Total                                      838 non-null    int64
 16  Kidnapping & Abduction                                            838 non-null    int64
 17  Kidnapping & Abduction in order to Murder                         838 non-null    int64
 18  Kidnapping for Ransom                                             838 non-null    int64
 19  Kidnapping & Abduction of Women to compel her for marriage        838 non-null    int64
 20  Other Kidnapping                                                  838 non-null    int64
 21  Dacoity                                                           838 non-null    int64
 22  Dacoity with Murder                                               838 non-null    int64
 23  Other Dacoity                                                     838 non-null    int64
 24  Making Preparation and Assembly for committing Dacoity            838 non-null    int64
 25  Robbery                                                           838 non-null    int64
 26  Criminal Trespass/Burglary                                        838 non-null    int64
 27  Criminal Trespass or Burglary                                     838 non-null    int64
 28  House Trespass & House Breaking                                   838 non-null    int64
 29  Theft                                                             838 non-null    int64
 30  Auto Theft                                                        838 non-null    int64
 31  Other Thefts                                                      838 non-null    int64
 32  Unlawful Assembly                                                 838 non-null    int64
 33  Riots                                                             838 non-null    int64
 34  Riots_Communal                                                    838 non-null    int64
 35  Riots_Industrial                                                  838 non-null    int64
 36  Riots_Political                                                   838 non-null    int64
 37  Riots_Caste Conflict                                              838 non-null    int64
 38  Riots_SC/STs Vs Non-SCs/STs                                       838 non-null    int64
 39  Riots_Other Caste Conflict                                        838 non-null    int64
 40  Riots_Agrarian                                                    838 non-null    int64
 41  Riots_Students                                                    838 non-null    int64
 42  Riots_Sectarian                                                   838 non-null    int64
 43  Riots_Others                                                      838 non-null    int64
 44  Criminal Breach of Trust                                          838 non-null    int64
 45  Cheating                                                          838 non-null    int64
 46  Forgery                                                           838 non-null    int64
 47  Counterfeiting                                                    838 non-null    int64
 48  Counterfeit Offences related to Counterfeit Coin                  838 non-null    int64
 49  Counterfeiting Government Stamp                                   838 non-null    int64
 50  Counterfeit currency & Bank notes                                 838 non-null    int64
 51  Counterfeiting currency notes/Bank notes                          838 non-null    int64
 52  Using forged or counterfeiting currency/Bank notes                838 non-null    int64
 53  Possession of forged or counterfeiting currency/Bank notes        838 non-null    int64
 54  Making or Possessing materials for forged currency/Bank notes     838 non-null    int64
 55  Making or Using documents resembling currency                     838 non-null    int64
 56  Arson                                                             838 non-null    int64
 57  Grievous Hurt                                                     838 non-null    int64
 58  Hurt                                                              838 non-null    int64
 59  Acid attack                                                       838 non-null    int64
 60  Attempt to Acid Attack                                            838 non-null    int64
 61  Dowry Deaths                                                      838 non-null    int64
 62  Assault on Women with intent to outrage her Modesty               838 non-null    int64
 63  Sexual Harassment                                                 838 non-null    int64
 64  Assault or use of criminal force to women with intent to Disrobe  838 non-null    int64
 65  Voyeurism                                                         838 non-null    int64
 66  Stalking                                                          838 non-null    int64
 67  Other Assault on Women                                            838 non-null    int64
 68  Insult to the Modesty of Women                                    838 non-null    int64
 69  At Office premises                                                838 non-null    int64
 70  Other places related to work                                      838 non-null    int64
 71  In Public Transport system                                        838 non-null    int64
 72  Places other than 231, 232 & 233                                  838 non-null    int64
 73  Cruelty by Husband or his Relatives                               838 non-null    int64
 74  Importation of Girls from Foreign Country                         838 non-null    int64
 75  Causing Death by Negligence                                       838 non-null    int64
 76  Deaths due to negligent driving/act                               838 non-null    int64
 77  Deaths due to Other Causes                                        838 non-null    int64
 78  Offences against State                                            838 non-null    int64
 79  Sedition                                                          838 non-null    int64
 80  Other offences against State                                      838 non-null    int64
 81  Offences promoting enmity between different groups                838 non-null    int64
 82  Promoting enmity between different groups                         838 non-null    int64
 83  Imputation, assertions prejudicial to national integration        838 non-null    int64
 84  Extortion                                                         838 non-null    int64
 85  Disclosure of Identity of Victims                                 838 non-null    int64
 86  Incidence of Rash Driving                                         838 non-null    int64
 87  HumanTrafficking                                                  838 non-null    int64
 88  Unnatural Offence                                                 838 non-null    int64
 89  Other IPC crimes                                                  838 non-null    int64
 90  Total Cognizable IPC crimes                                       838 non-null    int64
dtypes: int64(89), object(2)
memory usage: 595.9+ KB

In [27]:
dis_w_cr_co_14.head()

,States/UTs,District,Year,Murder,Attempt to commit Murder,Culpable Homicide not amounting to Murder,Attempt to commit Culpable Homicide,Rape,Custodial Rape,Custodial_Gang Rape,...,Offences promoting enmity between different groups,Promoting enmity between different groups,"Imputation, assertions prejudicial to national integration",Extortion,Disclosure of Identity of Victims,Incidence of Rash Driving,HumanTrafficking,Unnatural Offence,Other IPC crimes,Total Cognizable IPC crimes
0,Andhra Pradesh,Anantapur,2014,134,171,8,0,35,0,0,...,0,0,0,0,0,1038,0,0,3800,8376
1,Andhra Pradesh,Chittoor,2014,84,170,2,0,32,0,0,...,0,0,0,19,0,249,0,0,2567,5374
2,Andhra Pradesh,Cuddapah,2014,80,162,1,0,28,0,0,...,0,0,0,0,0,948,0,0,2604,5803
3,Andhra Pradesh,East Godavari,2014,64,84,2,0,85,0,0,...,0,0,0,32,0,39,0,0,3791,7630
4,Andhra Pradesh,Guntakal Railway,2014,14,4,0,0,0,0,0,...,0,0,0,0,0,1,0,0,37,490